USE [master]
GO
/****** Object:  Database [farmaciaBD]    Script Date: 11/1/2019 15:33:52 ******/
CREATE DATABASE [farmaciaBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'farmaciaBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSTANDARD\MSSQL\DATA\farmaciaBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'farmaciaBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSTANDARD\MSSQL\DATA\farmaciaBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [farmaciaBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [farmaciaBD]
GO
USE [farmaciaBD]
GO
/****** Object:  Table [dbo].[medicamento]    Script Date: 11/1/2019 15:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicamento] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
 CONSTRAINT [PK_medicamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
